* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, "Roboto";
}
.header {
  background-color: #202026;
  height: 80px;
  color: #fff;
  padding: 16px 40px;
  display: flex;
  align-items: center;
}
.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}
.about {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 40px;
  margin-bottom: 16px;
  text-align: center;
}
.about__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}
.about__text {
  max-width: 500px;
}
.about__name {
  margin-bottom: 12px;
  font-size: 20px;
}
.skills {
  padding: 40px;
  background: #202026;
  color: #fff;
}
